* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100%;
    background-color:#bad8f2;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin: 40px 50px 50px 50px;
    background-color:#bad8f2;
  }
  
  .container .image {
    margin-bottom: 4px;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;
  }
  .container .image:hover {
    transform: scale(1.3);
    z-index: 4;
  }
  h2 {
    text-align: center;
    font-size: 100px;
    color: hwb(0 34% 65% / 0.91);
  }
  
  span {
    font-size: 100px;
    font-weight: 100;
    color: rgba(139, 0, 0, 0.55);
    font-style: italic;
  }


.footer{
    text-align: center;
    font-size: 25px;
    background-color:#bad8f2;
}